.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.image {
  position: relative;
  margin-bottom: 1em;
	text-align: center;
  width: min(40%, 25rem);
  height: 35vw;
  margin-top: 16em;
}

.heading {
  font-weight: bold;
  font-size: max(2rem, 10vw);
  margin-bottom: 0.5em;
	font-family: walsheim-bold;
}

.subHeading {
  font-size: max(0.9rem, 4vw);
  margin-bottom: 1.5em;
}

.btnContainer {
	position: relative;
	text-align: center;
	margin-bottom: 2em;
  width: 100%;
}

.link {
	width: min(50%, 28rem);
	position: relative;
  height: 12vw;
}